body {
  background-color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;

  text-align: center;
}
h1 {
  text-align: center;
  border-bottom: 5px solid white;
}
a {
  color: rgb(18, 18, 161);
}

.container {
  max-width: 800px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  border: 2px solid white;
  padding: 10px;
  margin-top: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
img {
  max-width: 100%;
  height: auto;
  margin: 10px;
  border: 2px solid white;
}

/* For screens with a maximum width of 768px */
@media screen and (max-width: 768px) {
  .container {
    padding: 10px;
  }
  .image-container {
    padding: 10px;
  }
  img {
    margin: 5px;
    border: 1px solid white;
  }
}

/* For screens with a maximum width of 576px */
@media screen and (max-width: 576px) {
  .container {
    max-width: 90%;
  }
}
